.page--Container {
  font-family: "Montserrat", sans-serif;
  display: grid;
  height: 100%;
  grid-template-rows: 3.5rem auto;
  grid-template-columns: 220px auto;
  grid-template-areas:
    "header header header"
    "sidebar main main";
}

.main--container {
  grid-area: main;
  min-height: calc(100vh - 3.5rem);
  background-color: var(--secondary-bg-color);
}

/* home Ends Here */
