.video-page {
  font-family: "Montserrat", sans-serif;
  display: grid;
  height: 100%;
  grid-template-rows: 3.5rem auto;
  grid-template-columns: 220px auto 300px;
  grid-template-areas:
    "header header header"
    "sidebar main aside";
}

.video-page__main-container {
  grid-area: main;
  min-height: calc(100vh - 3.5rem);
  background-color: var(--secondary-bg-color);
}
.Video-page__aside-bottom-container {
  display: none;
}

@media screen and (max-width: 1200px) {
  .aside-container {
    display: none;
  }
  .Video-page__aside-bottom-container {
    margin: 0.3rem 0rem 5rem;
    gap: 8px;
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .video-page {
    height: 100%;
    grid-template-rows: 3.5rem auto;
    grid-template-columns: 220px auto;
    grid-template-areas:
      "header header header"
      "sidebar main main";
  }
}
@media screen and (max-width: 800px) {
  .video-page {
    height: 100%;
    grid-template-rows: 3.5rem auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "header header header"
      "main main main";
  }
}
