@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/***** Reset Stylesheet *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  font-size: 100%;
  background: transparent;
  text-decoration: none;
  display: flex;
}
[theme="light"] {
  --primary-color: #ff8c44;
  --primary-bg-color: #151515;
  --secondary-bg-color: rgb(34, 31, 31);
  --primary-theme-color: white;
  --secondary-theme-color: black;
  --font-size-XX-large: clamp(3rem, 12vw, 10rem);
  --font-size-X-large: clamp(1.2rem, 2.5vw, 10rem);
  --font-size-large: clamp(1rem, 1.5vw, 10rem);
  --font-size-regular: clamp(12px, 2.5vw, 1rem);
  --font-size-small: clamp(8px, 1vw, 1rem);
}
[theme="dark"] {
  --primary-color: #ff8c44;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fefbfb;
  --primary-theme-color: black;
  --secondary-theme-color: white;
  --font-size-XX-large: clamp(3rem, 12vw, 10rem);
  --font-size-X-large: clamp(1.2rem, 2.5vw, 10rem);
  --font-size-large: clamp(1rem, 1.5vw, 10rem);
  --font-size-regular: clamp(12px, 2.5vw, 1rem);
  --font-size-small: clamp(8px, 1vw, 1rem);
}
/* login form ends here */

/*** Scroll bar ***/

::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
:root {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}
